@font-face {
    font-family: 'ELEGANT TYPEWRITER';
    src: url("Fonts/ELEGANT TYPEWRITER Light.ttf") format('ttf');
        url("Fonts/ELEGANT TYPEWRITER Regular.ttf") format('ttf');
}

@font-face {
    font-family: 'ELEGANT TYPEWRITER';
    font-weight: 700;
    src: url("Fonts/ELEGANT TYPEWRITER Bold.ttf") format('ttf');;
}

.navbar-custom {
    background-color: #212529 !important;
}

._header{
    padding-bottom: 1rem;
}

.custom-audio {
    background-color: #212529;
    color: #000;
    border-radius: 1rem;
    padding: 0.5rem;
}

